body {
  background-image: url(./corporate-training-with-ai-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}
h3 {
  font-size: 28px;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 36px;
  margin: 2em;
}
@media (max-width: 767px) {
  h3 {
    font-size: 32px;
    margin: 40px 1rem;
    line-height: 1.15;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 767px) {
  img {
    width: 100%;
  }
}
.section1 {
  display: flex;
  justify-content: center;
}

.sideblock {
  background-image: url(./corporate-training-with-ai-texture-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
}
.imgtext {
  color: #2e475d;
  font-size: 16px;
  font-weight: 300;
}
h1 {
  color: #bf2b2b;
  font-weight: 600;
  font-size: 46px;
  word-break: break-all;
}
h5 {
  color: #ffff;
  font-size: 22px;
  font-weight: 500;
  background-color: black;
}
ul {
  position: relative;
  color: #2e475d;
  padding-left: 1.8rem;
  margin: 0.7rem;
}
/* .check_list_orange li:before{
    content: "";
    display: inline-block;
    background-image: url("https: //resources.commlabindia.com/hubfs/cli-main-site/pillar-pages/checkmark-orange.svg") center center;
    background-position: center center;
    background-size:contain;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    
} */
li {
  font-size: 18px;
  line-height: 1.4;
  word-break: break-word;
  font-weight: 300;
  position: relative;
}
strong {
  color: #2e475d;
  line-height: 1.4;
  font-size: 18px;
}

@media (max-width: 767px) {
  .section1 {
    flex-direction: column;
    width: 500px;
    /* Change to a column layout */
  }

  .sideblock {
    max-width: 100%;
    /* Allow content to occupy full width */
  }
}
h6 {
  font-size: 18px;
  color: #2e475d;
  line-height: 1.15;
}

i {
  color: #bf2b2b;
}
.button {
  background-color: #bf2b2b;
  width: 300px;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #ffff;
  padding: 12px 30px;
  display: inline-flex;
  align-items: center;
  text-align: center;
}
.logo {
  max-width: 100%;
  height: auto;
  background-image: url(./corporate-training-with-ai-banner-1.jpg);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 30px;
}
.section2 {
  background-image: url("./corporate-training-with-ai-grey-banner.jpg");
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}
h2 {
  font-weight: 500;
  color: #2e475d;
  font-size: 42px;
  text-align: center;
  line-height: 1.4;
  word-break: break-word;
}
.section2ul {
  font-size: 20px;
  text-align: center;
  padding-left: 0;
  margin-left: 220px;
}
.section2ul li {
  text-align: left;
  /* Align the text to the left */
  margin-bottom: 10px;
  /* Adjust as needed for spacing */
  list-style: none;
  /* Remove the default list-style (bullet point) */
}

.section2ul li:before {
  content: "\2022";
  /* Use a bullet point (•) as the list item marker */
  color: #bf2b2b;
  /* Adjust the color as needed */
  display: inline-block;
  margin-right: 5px;
  /* Adjust as needed for spacing between marker and text */
}
@media screen and (max-width: 767px) {
  .section2ul {
    margin-left: 0;
  }
}
.popup-container {
  text-align: center;
}
.popup {
  display: inline-block;
  /* text-align: center; */
  font-size: 20px;
  font-weight: 600;
  max-width: 90%;
  background-color: #bf2b2b;
  border-radius: 50px;
  color: #ffff;
  text-decoration: none;
  padding: 12px 30px;
  /* align-items: center; */
  margin: 0;
  border: none;
}

.section3 {
  background-color: black;
  padding-bottom: 50px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  /* margin-top: 50px; */
}

.images {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.host-container {
  text-align: center;
  padding: 20px;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  color: white;
  line-height: 1.5;
  word-break: break-;
  word-spacing: 1px;
}

/* CSS for host images */
.host-image img {
  max-width: 100%;
  /* Make sure the image fits within the host container */
  height: auto;
  /* For rounded images */
  margin: 0 auto 10px;
  /* Center the image and add spacing below */
}
.host-container h3 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 500;
}
.host-container h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  color: #ffff;
}
.host-container p {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .images {
    flex-direction: column;
    align-items: center;
  }

  .host-container {
    max-width: 100%;
  }
}

.sec h6 {
  color: #ffff;
}
.sec strong {
  color: #ffff;
}
.sec h3 strong {
  font-size: 24px;
  font-weight: 600;
}
.sec h6 strong {
  font-size: 18px;
}
.lastbutton {
  background-color: #bf2b2b;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 5px 20px;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

/* Optional: Adjust the SVG size */
.lastbutton svg {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  /* Add space between SVG and text */
}
.footer {
  background-color: black;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer div {
    text-align: center;
    margin: 10px 0;
  }
}
@media (max-width: 767px) {
  .section1 {
    flex-direction: column;
  }

  .sideblock {
    max-width: 100%;
  }

  img {
    width: 100%;
  }

  .section2ul {
    margin-left: 0;
  }

  .button {
    width: 100%;
  }
}
#pageContainer.loginForm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999; /* Set a higher z-index to make it appear above other content */
}
#loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("https://resources.commlabindia.com/hubfs/webinars/paper-background.jpg");
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  width: 400px;
  text-align: center;
  z-index: 1000;
}
label {
  color: #2e475d;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  margin: 0 10px;
}

input {
  border: 1px solid #808080;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

input:focus {
  border-color: blue;
}

.button {
  background: #ff6633;
  color: white;
  border: none;
  padding: 10px 30px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background: #ff6633;
}

/* Style for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: rgb(15, 15, 15);
  cursor: pointer;
}
